$color-chat: #007aff;
$color-chat2: #ffff;

.wrapperOne,
.wrapperOneTip,
.wrapperTwo,
.wrapperTwoTip {
  display: flex;
  padding: 0px;
  position: relative;
}

.wrapperOne,
.wrapperOneTip {
  color: white;
  justify-content: end;

  .content {
    background: $color-chat;
  }
}

.bubbleContent {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: auto;
  max-width: 350px;
  height: auto;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.wrapperTwo,
.wrapperTwoTip {
  color: black;
  justify-content: start;
  .content {
    background: $color-chat2;
  }
}

.wrapperOneTip:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 99%;
  top: 0;
  bottom: auto;
  border: 8px solid;
  transform: rotate(270deg);
  border-color: $color-chat $color-chat transparent transparent;
}

.wrapperTwoTip:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -13px;
    top: 0;
    bottom: auto;
    border: 8px solid;
    border-color: $color-chat2 $color-chat2 transparent transparent;
  }

.bubbleInfo {
  display: flex;
  justify-content: flex-end;
}
