.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #F2F2F7;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
  max-height: 600px;
}
