.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.05);;
}

.rounded{
  border-radius: 16px;
}

.big {
  min-height: 200px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
}

.medium {
  min-width: 145px;
  min-height: 145px;
  max-width: 145px;
  max-height: 145px;
}

.small {
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  max-height: 100px;
}
