.imgRounded {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.big {
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
}

.medium {
  width: 48px;
  height: 48px;
  max-height: 48px;
  max-width: 48px;
}

.small {
  height: 24px;
  width: 24px;
  max-height: 24px;
  max-width: 24px;
}
