@import 'styles/master.scss';

.row {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  @include responsive(pc) {
    min-height: 624px;
    justify-content: center;
  }
}

.center{
  align-items: center;
}

.fit {
  min-height: fit-content;
}
