.row {
  min-height: 568px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.center{
  align-items: center;
}

.fit {
  min-height: fit-content;
}
