@import '../../../styles/colors.scss';

.link {
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: baseline;
  width: auto;
  a {
    color: $color-headline;
    border-bottom: 1.5px solid $color-headline;
  }
  
}
