@import 'styles/colors.scss';

.header {
  position: relative;
  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 24px;
      height: 48px;
      position: relative;
      a {
        color: $color-text;
        cursor: pointer;
      }
      &:hover {
        color: $color-headline;
      }
    }
  }
  .active {
    a {
      color: $color-headline;
    }
    &::after {
      content: '';
      height: 6px;
      width: 6px;
      background-color: $color-headline;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
