@import 'styles/master.scss';

.home {
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 7rem;
  @include responsive(pc) {
    justify-content: center;
    margin-bottom: 4.5rem;
  }
}

.icons {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
