@import './master.scss';

html,
body,
#root {
  height: 100%;
}

.app {
  padding: 0 2rem;
  @include responsive(pc) {
    padding: 0 26.063rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  color: $color-text;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
}

a {
  @include fontStyle(15px, 500, 21px);
}

p {
  @include fontStyle(17px, 400, 24px);
}

span {
  @include fontStyle(17px, 500, 24px);
}

h5 {
  @include fontStyle(24px, 500, 32px);
}

.caption {
  @include fontStyle(12px, 400, 16px);
  color: rgba(0, 0, 0, 0.38);
}
