$pc: 1024px; // PC screen size.
$tablet: 720px; // Tablet screen size.
$phone: 320px; // Phone screen size.

@mixin responsive($media) {
  @if $media==mobile {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media==tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$pc - 1px}) {
      @content;
    }
  } @else if $media==pc {
    @media only screen and (min-width: $pc) {
      @content;
    }
  } @else if $media==pc_tablet {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  }
}