$font-family: 'Inter', sans-serif;
$regular: 400;
$medium: 500;

@mixin fontStyle($size, $weight, $lineHeight) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  font-style: normal;
  line-height: $lineHeight;
}

a{
  @include fontStyle(15px, 500, 21px)
}

p{
  @include fontStyle(17px, 400, 24px)
}

h5{
  @include fontStyle(24px, 500, 32px)
}